@using Microsoft.AspNetCore.Components.Authorization
@using PortfolioBlazor.Components.Layout
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate Selector="h1" RouteData="@routeData" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
        
    </Router>
</CascadingAuthenticationState>
